@using System.Globalization;
@model BookStore.ViewModels.UserViewModel
@{
    ViewBag.Title = "Đặt hàng | Nhà sách AC";
    Layout = "~/Views/MyShared/MainLayout.cshtml";
}
<link href="~/Assets/css/main.css" rel="stylesheet" media="all">
<link href="~/Assets/css/shopper-info.css" rel="stylesheet"/>
<style>
    #map {
        height: 400px;
        width: 100%;
    }
    .cart {
        background-color: inherit;
        margin: 0;
    }
</style>

<div style="margin-top:100px"></div>
<section id="cart_items">
    <div class="container">
        <div class="row" style="margin-top:30px">

            <div class="col-lg-7">
                <div class="table-responsive cart_info">
                    <table class="table table-condensed table-fixed">
                        <thead>
                            <tr class="cart_menu">
                                <td class="image col-lg-3" style="font-weight:600">Sản phẩm</td>
                                <td class="price col-lg-2" style="font-weight: 600">Đơn giá</td>
                                <td class="quantity col-lg-2"  style="font-weight:600">Số lượng</td>
                                <td class="total col-lg-2"  style="font-weight:600">Tổng cộng</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody class="cart-body">
                            <tr>
                                @*<td>Khoan sửa cái này nhe<br /> làm cái Validate bên form thông tin khách hàng trước đi</td>*@
                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="chose_area">
                    <div class="shopper-informations">
                        <div class="col-lg-12">
                            <div class="shopper-info">
                                <p>Thông tin khách hàng</p>
                                @*<form>
                                    <input id="first_name" type="text" placeholder="Tên">
                                    <input id="last_name" type="text" placeholder="Họ">
                                    <input id="telephone" type="text" placeholder="Số điện thoại">
                                    <input id="email" type="text" placeholder="Email">
                                    <input id="address" type="text" placeholder="Địa chỉ">
                                </form>*@
                                @using (Html.BeginForm()){
                                    @Html.ValidationSummary(true)
                                <fieldset>
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "validate" })
                                    @Html.TextBoxFor(model => model.FirstName, new { @id = "first_name", placeholder = "Tên" })
                                    @Html.ValidationMessageFor(model => model.LastName,"", new { @class = "validate"})
                                    @Html.TextBoxFor(model => model.LastName, new { @id = "last_name", placeholder = "Họ" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "validate" })
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @id = "telephone", placeholder = "Số điện thoại" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "validate" })
                                    @Html.TextBoxFor(model => model.Email, new { @id = "email", placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "validate" })
                                    @Html.TextBoxFor(model => model.Address, new { @id = "address", placeholder = "Địa chỉ" })
                                    
                                </fieldset>   
                                
                                    <div class="total_area">
                                        <ul style="padding-left:0">
                                            <li>Tổng giá trị đơn hàng <span id="cost">Đang tải...</span></li>
                                            <li>Phí vận chuyển <span id="shipping_fee">Đang tải...</span></li>
                                            <li class="hidden">Tổng <span id="total">0 đ</span></li>
                                        </ul>
                                    </div>
                                    <input type="submit" class="btn btn-my btn-wrap-text" style=" width: 22%" value="Cập nhật">
                                        <input type="button" class="btn btn-my" style="margin-left:20px; width: 25%" data-toggle="modal" data-target="#mapModal" onclick="showMap()" value="Mở bản đồ">
                                        <input type="submit" class="btn btn-my" style="margin-left:20px; width: 40%" value="Cập nhật và mua hàng">
                                    
                                }
                                @Html.Raw(TempData["update-msg"])
                                @Html.Raw(TempData["checkout-msg"])
                        </div>
                       
                        <div id="map-modal">
                            <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="mapModalLabel">Check Your Location</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div id="map"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> <!--/#cart_items-->
<div style="margin-top:100px"></div>
@*<script src="~/Assets/js/jquery.js"></script>*@
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="~/Assets/js/gmaps.js"></script>

<script type="text/javascript">
    // init cái Google Maps
    function initMap() {
        var uluru = { lat: 10, lng: 106};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }

    function showMap() {
        setTimeout(function () { google.maps.event.trigger(map, 'resize'); }, 1000);
    }

    //onClickedCart = function () {
    //    $('.sbmincart-closer').remove();
    //    $('.sbmincart-subtotal').remove();
    //    $('.sbmincart-submit').remove();
    //    $("#staplesbmincart").show();// cheat để show cái cart ở navigation bar thôi, vì tạm thời chưa có cart "xịn" (ở nửa page bên trái)
    //}
   


    $(document).ready(function () {
        // hàm này ở header, gọi để populate cart ở nửa page bên phải
        //getCart("main");
        //onClickedCart();//
        
        // populate dữ liệu khách hàng, trong trường hợp khách hàng đã nhập thông tin trước đó rồi
        populateCheckoutInfo();
    })// p/s: giỏ hàng và khách hàng được xử lý hoàn toàn theo cookie
    // tức là khách hàng "Anonymous" không cần đăng nhập, chỉ cần mở web browser lên
    // miễn là còn dùng cùng browser, cùng 1 máy, và không xoá cookie thì cookie sẽ còn mãi
    // => ta thêm hàng vào giỏ hàng, tắt máy đi rồi mở lại, hàng vẫn nằm ở giỏ
    // => người dùng không cần phải đăng nhập lại

    // có 1 số trang xử lý theo session
        //, cái này khác cookie ở chỗ là mở tab khác là session khác
        //, hoặc tắt browser đi mở lại thì sẽ có 1 session mới
    // web nhà xuất bản dh quốc gia, không dùng cookie.
        // Đối với khách không cần đăng nhập, mỗi lần mua lại phải nhập lại thông tin

    // populate dữ liệu khách hàng, trong trường hợp thông tin khách hàng đã nằm trong hệ thống
    function populateCheckoutInfo() {
        //$.ajax({
        //    url: '/Cart/GetCustomer',
        //    type: 'GET',
        //    dataType: 'json',
        //    data: { "id": null },
        //    success: function (customer) {
        //        if ($('#first_name').val() == null)
        //            $('#first_name').val(customer.FirstName);
        //        if ($('#last_name').val() == null)
        //            $('#last_name').val(customer.LastName);
        //        if($('#telephone').val() == null)
        //            $('#telephone').val(customer.PhoneNumber);
        //        if($('#email').val() == null)
        //            $('#email').val(customer.Email);
        //        if($('#address').val() == null)
        //            $('#address').val(customer.Address);
        //    },
        //    error: function (err) {
        //        document.write(err.responseText);
        //    }
        //});
        
        $.ajax({
            url: '/Cart/GetCart',
            type: 'GET',
            dataType: 'json',
            data: {
                "id": null,
                "depth": null
            },
            success: function (cart) {
                $('#cost').html((cart.TotalAmount / 1000).toLocaleString() + "k đ");
                $('#shipping_fee').html("5k/km");
            },
            error: function (err) {
                document.write(err.responseText);
            }
        });   

        showCart();
    }

    //hiện chi tiết giỏ hàng
    function showCart() {
        $.ajax({
            url: '/Cart/OrderPartial',
            type: 'GET',
            success: function (result) {
                $('.cart-body').html(result);
            }
        });
    }
    
    // mua hàng
    function checkout() {
        //updateCustomer();

        $.ajax({
            url: '/Cart/Checkout',
            type: 'POST',
            dataType: 'json',
            success: function (response) {
                if (response.success == true) {
                    alert(response.text);
                    window.location = '/Home/';// mua hàng thành công => về trang chủ
                }
                else {
                    alert(response.text);
                }
            },
            error: function (err) {
                document.write(err.responseText);
            }
        }); 
    }

    // cập nhật thông tin khách hàng vào hệ thống
    function updateCustomer() {

        var firstName = $('#first_name').val();
        var lastName = $('#last_name').val();
        var phone = $('#telephone').val();
        var email = $('#email').val();
        var address = $('#address').val();

        if (firstName == "") {
            if (!$(".warning_first_name").length)
                $('#first_name').before("<p class=\"warning_first_name\" style=\"color : #ee4f4f; font-size: 12px\">Vui lòng nhập Tên<p>")
        } else {
            $('.warning_first_name').replaceWith("")
        }
        if (lastName == "") {
            if (!$(".warning_last_name").length)
                $('#last_name').before("<p class=\"warning_last_name\" style=\"color : #ee4f4f; font-size: 12px\">Vui lòng nhập Họ<p>")
        } else {
            $('.warning_last_name').replaceWith("")
        }
        if (phone == "") {
            if (!$(".warning_phone").length)
                $('#telephone').before("<p class=\"warning_phone\" style=\"color : #ee4f4f; font-size: 12px\">Vui lòng nhập Số điện thoại<p>")
        } else {
            $('.warning_phone').replaceWith("")
        }
        if (email == "") {
            if (!$(".warning_email").length)
                $('#email').before("<p class=\"warning_email\" style=\"color : #ee4f4f; font-size: 12px\">Vui lòng nhập Email<p>")
        } else {
            $('.warning_email').replaceWith("")
        }
        if (address == "") {
            if (!$(".warning_address").length)
                $('#address').before("<p class=\"warning_address\" style=\"color : #ee4f4f; font-size: 12px\">Vui lòng nhập Địa chỉ<p>")
        } else {
            $('.warning_address').replaceWith("")
        }
        if (firstName != "" && lastName != "" && phone != "" && email != "" && address != "") {
            $.ajax({
                url: '/Cart/UpdateCurrentCustomer',
                type: 'POST',
                dataType: 'json',
                data: {
                    "firstName": firstName,
                    "lastName": lastName,
                    "telephone": phone,
                    "email": email,
                    "address": address
                },
                success: function (response) {
                    alert(response.text);
                },
                error: function (err) {
                    document.write(err.responseText);
                }
            }); 
        }
        
    }
  

    // ------------------------------------------------------------------------
    // bind các event thêm, bớt, bỏ sản phẩm trong giỏ hàng
    $(".cart-body").on("click", "tr>td>div>.cart_quantity_up", function (event) {
        event.preventDefault();
        var productID = $(this).parent().children('p').text();
        updateCart("add", productID, event)
    });

    $(".cart-body").on("click", "tr>td>div>.cart_quantity_down", function (event) {
        event.preventDefault();
        var productID = $(this).parent().children('p').text();
        updateCart("minus", productID, event)
    });

    $(".cart-body").on("click", "tr>td>.cart_quantity_delete", function (event) {
        event.preventDefault();
        var productID = $(this).parent().children('p').text();
        updateCart("delete", productID, event)
    });

</script>
@* --- load bản đồ --- *@
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfT4iQDERkZtWZC0YjWCUFh4pM6nJVHkM&callback=initMap">
</script>