@{
    IEnumerable<BookStore.Models.Category> Categories =
        (ViewData["Categories"] as IList<BookStore.Models.Category>).OrderByDescending(cate => cate.NumberOfProducts).Take(10);
    IEnumerable<BookStore.Models.Author> Authors =
        (ViewData["Authors"] as IList<BookStore.Models.Author>).OrderByDescending(a => a.NumberOfBooks).Take(10);
}



<!-- author -->
<h3 class="shopf-sear-headits-sear-head">Tác giả</h3>
<div class="brands-name" style="height:100%;">
    <div id="list-author">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Authors)
            {
                <li>
                    <a href="/Home/Author/@item.ID">
                        <span class="pull-right">(@item.NumberOfBooks)</span>
                        <b>@item.Name</b>
                        <p hidden>@item.ID</p>
                    </a>
                </li>
            }
        </ul>

    </div>
</div>

<!-- category -->
<h3 class="shopf-sear-headits-sear-head">Danh mục</h3>
<div class="brands-name" style="height:100%">
    <div id="list-category">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Categories)
            {
                <li>
                    <a href="/Products/Category/@item.ID">
                        <span class="pull-right">(@item.NumberOfProducts)</span>
                        <b>@item.Name</b>
                        <p hidden>@item.ID</p>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

@*<link href="~/Assets/css/bootstrap.css" rel="stylesheet">*@
<link href="~/Assets/css/bootstrap-select.min.css" rel="stylesheet">
<script src="~/Assets/js/jquery.js" type="text/javascript"></script>
@*<script src="~/Assets/js/price-range.js" type="text/javascript"></script>*@
<script src="~/Assets/js/bootstrap-select.min.js"></script>
<script src="~/Scripts/helper.js"></script>
@*<script src="~/Assets/js/jquery-ui.js"></script>*@
<script>
    
    function onSearch() {
        window.location = "/Search1/Index?key=" + $('#search_box').val();
    }
</script>
