<head>
    <title>Nhà sách AC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design">
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="~/Assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="~/Assets/css/shop.css" type="text/css" rel="stylesheet" media="all">
    <!-- checkout css -->
    <link href="~/Assets/css/checkout.css" type="text/css" rel="stylesheet" media="all">
    <!-- Range-slider-css -->
    <link rel="stylesheet" type="text/css" href="~/Assets/css/jquery-ui1.css">
    <!-- common-css -->
    <link href="~/Assets/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="~/Assets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="//fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
    <!-- titles -->
    <link href="//fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i" rel="stylesheet">
    <!-- body -->
    <link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <!-- //online-fonts -->
</head>
<!-- header -->
<!-- navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="main-nav">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Chronicle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1>
                    <a class="navbar-brand" href="/Home/Index">Chronicle</a>
                </h1>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse navbar-ex1-collapse nav-on-left collapse" aria-expanded="false" style="height: 40px;">
                <ul class="nav navbar-nav navbar-left cl-effect-15">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden active">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Liên hệ", "Index", "Contact")</li>
                    <li>@Html.ActionLink("Các sản phẩm", "Index", "Search")</li>
                    <li>
                        <input id="search_box" type="search" placeholder="Tìm kiếm"
                                   onkeypress="onKeypressSearch(event)"
                                   @if (!string.IsNullOrEmpty(ViewData["key"] as string)) {// nếu có key thì hiển thị ra đây <text>
                                    <text>
                                    value ="@(ViewData["key"] as string)"
                                    </text> 
                                   } />
                    </li>
                </ul>
                <div>
                    <ul class="nav navbar-nav navbar-right cl-effect-15">
                        <li>
                            <a href="@Url.Action("Login", "Staff")" title="SignIn &amp; SignUp">
                                <span class="fa fa-user nav-icon" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li>
                            <div class="cart-mainf">
                                <div class="chrcart chrcart2 cart cart box_1">
                                    @*<form action="" method="post" class="last">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="display" value="1">
                                        <button class="top_chr_cart" type="submit" name="submit" value="">
                                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                        </button>

                                    </form>*@
                                    <a href="#" onclick="onClickedCart()">
                                        <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
</nav>
<!-- //navbar ends here -->
<script>
    // 1 số browser hỗ trợ html keyword 'onsearch' cho searchbox, nhưng 1 số browser thì không
    // nên ta không sử dụng 'onsearch' mà dùng onkeypressed, và bắt phím 'enter' thủ công
    // được gọi từ search_box
    function onKeypressSearch(e) {
        var keynum;

        if (window.event) { // IE                    
            keynum = e.keyCode;
        } else if (e.which) { // Netscape/Firefox/Opera                   
            keynum = e.which;
        }

        // phím enter
        if (keynum == 13) {
            // hàm này nằm ở page (e.g. Index, Author, etc.)
            onSearch();
        }
    }
</script>
