@{
    IEnumerable<BookStore.Models.Category> Categories =
        (ViewData["Categories"] as IList<BookStore.Models.Category>).OrderByDescending(cate => cate.NumberOfProducts).ToList();
    IEnumerable<BookStore.Models.Category> miniCategories = Categories.Take(5);
    IEnumerable<BookStore.Models.Author> Authors =
        (ViewData["Authors"] as IList<BookStore.Models.Author>).OrderByDescending(aut => aut.NumberOfBooks).ToList();
    IEnumerable<BookStore.Models.Author> miniAuthors = Authors.Take(5);
}



<!-- author -->
<h3 class="shopf-sear-headits-sear-head">Tác giả</h3>
<select id="ddl_author" name="ddl_author"
        class="selectpicker" data-live-search="true"
        data-width="100%" data-size="5">
    <option value="">Toàn bộ</option>
    @foreach (var item in Authors)
    {
        <option value="@item.ID">@item.Name</option>
    }
</select>
<div class="brands-name" style="height:100%">
    <div id="list-author">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in miniAuthors)
            {
                <li>
                    <a href="#">
                        <span class="pull-right">(@item.NumberOfBooks)</span>
                        <b>@item.Name</b>
                        <p hidden>@item.ID</p>
                    </a>
                </li>
            }
        </ul>

    </div>
</div>

<!-- category -->
<h3 class="shopf-sear-headits-sear-head" @*style="margin-top:20px;margin-bottom:10px;text-align:center;color:#ee4f4f"*@>Danh mục</h3>
<select id="ddl_category" name="ddl_category"
        class="selectpicker" data-live-search="true"
        data-width="100%" data-size="5">
    <option value="">Toàn bộ</option>
    @foreach (var item in Categories)
    {
        <option value="@item.ID">@item.Name</option>
    }
</select>
<div class="brands-name" style="height:100%">
    <div id="list-category">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in miniCategories)
            {
                <li>
                    <a href="#">
                        <span class="pull-right">(@item.NumberOfProducts)</span>
                        <b>@item.Name</b>
                        <p hidden>@item.ID</p>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>
<!-- price range -->
<div class="range">
    <h3 class="shopf-sear-headits-sear-head">
        <span>Tầm</span> giá
    </h3>
    <ul class="dropdown-menu6">
        <li>

            <div id="slider-range"></div>
            <input type="text" id="amount" readonly style="border: 0;width:100%"/>
        </li>
    </ul>
</div>
<!-- //price range -->

@*<link href="~/Assets/css/bootstrap.css" rel="stylesheet">*@
<link href="~/Assets/css/bootstrap-select.min.css" rel="stylesheet">
<script src="~/Assets/js/jquery.js" type="text/javascript"></script>
@*<script src="~/Assets/js/price-range.js" type="text/javascript"></script>*@
<script src="~/Assets/js/bootstrap-select.min.js"></script>
<script src="~/Scripts/helper.js"></script>
<script src="~/Assets/js/jquery-ui.js"></script>
<script>
    var priceMin = 1, priceMax = 999;

    //<![CDATA[ 
    $(window).load(function () {
        $("#slider-range").slider({
            range: true,
            min: 1,
            max: 999,
            values: [1, 999],
            slide: function (event, ui) {
                $("#amount").val(ui.values[0] + ".000đ - " + ui.values[1] + ".000đ");
            }
        });
        $("#amount").val($("#slider-range").slider("values", 0) + ".000đ - " + $("#slider-range").slider("values", 1) + ".000đ");

        // xem gia tien cua slider
        $("#slider-range").slider({
            stop: function (event, ui) {
                // lay gia tri cua slider
                var values = $("#slider-range").slider("values");

                priceMin = values[0];
                priceMax = values[1];

                onSearch();
            }
        });
    }); //]]>


    // bind event search theo giá tiền
    //$("#ex2").slider({}).on("slideStop", function (e) {
    //    onSearch()
    //});
    // lúc đầu show web
    $(document).ready(function () {
        @*//listAuthors();
        //listCategories();*@

        // bind event search theo tác giả
        $("#ddl_author").change(function () {
            onSearch();
        });

        // bind event search theo danh mục
        $("#ddl_category").change(function () {
            onSearch();
        });
        //bindSlider();
    })



    // bind event search theo danh mục (mấy cái mục bên dưới dropdown-box)
    $("#list-category").on("click", "li>a", function (event) {
        event.preventDefault();

        var selected_cate = $(this).children('p').text();
        $('#ddl_category').val(selected_cate);
        $('#ddl_category').selectpicker('refresh');

        onSearch();
    });

    // bind event search theo tác giả (mấy cái mục bên dưới dropdown-box)
    $("#list-author").on("click", "li>a", function (event) {
        event.preventDefault();

        var selected_author = $(this).children('p').text();
        $('#ddl_author').val(selected_author);
        $('#ddl_author').selectpicker('refresh');
        onSearch();
    });

</script>
