@model BookStore.Models.Product
@using BookStore.Helpers;
@using System.Globalization;


@{
    ViewBag.Title = Model.Name + " | Nhà sách AC";
    Layout = "~/Views/MyShared/MainLayout.cshtml";
    CultureInfo ci = new CultureInfo("vi-VN");

    string src = "";
    if (string.IsNullOrEmpty(Model.AvatarImage))
    {
        src = "/Assets/images/staff/avatar.png";
    }
    else
    {
        src = HtmlExtensions.GetImagePath(Model.AvatarImage, this.Context);
    }

    string pub = "";
    if (Model.Category.Type == BookStore.Models.ProductType.Sach)
    {
        pub = "Nhà xuất bản";
    }
    else
    {
        pub = "Nhà sản xuất";
    }
}
<section>
    <div class="container" style="margin-top:150px">
        <div class="row">
            <div class="col-lg-3 side-menu-holder">
                <div class="left-sidebar side-menu">
                    @Html.Partial("SideMenu")
                </div>
            </div>


            <div class="left-ads-display col-lg-9">
                <div class="innerf-pages section">
                    <div>
                        <div class="col-md-4 single-right-left ">
                            <div class="grid images_3_of_2">
                                <div class="flexslider1">

                                    <div class="clearfix"></div>
                                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                        <ul class="slides">
                                            <li>
                                                <div class="thumb-image">
                                                    <img src="@src" data-imagezoom="true" alt=" " class="img-responsive"
                                                         onerror="if (this.src != '/Assets/images/staff/avatar.png') this.src = '/Assets/images/staff/avatar.png';">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    @*<ol class="flex-control-nav flex-control-thumbs"><li><img src="images/s1.jpg" class="flex-active"></li><li><img src="images/s2.jpg" class=""></li><li><img src="images/s3.png" class=""></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>*@
                                </div>
                            </div>

                        </div>
                        <div class="col-md-8 single-right-left simpleCart_shelfItem">
                            <h3>
                                @Model.Name
                                @*<span>addition-title here</span>*@
                            </h3>
                            @if (Model.Category.Type == BookStore.Models.ProductType.Sach)
                            {
                                <p style="color:#555">
                                    bởi
                                    @if (Model.ProductDetails != null)
                                    {
                                        bool isFirst = true;
                                        foreach (var relation in Model.ProductDetails)
                                        {
                                            if (isFirst)
                                            {
                                                isFirst = false;
                                            }
                                            else
                                            {
                                                <text>, </text>
                                            }
                                            <a href="/Home/Author?id=@relation.AuthorId">@relation.Author.Name</a>
                                        }
                                    }
                                </p>
                            }

                            <div class="caption">
                                <div style="margin-top:5px" class="clearfix"> </div><h6 style="color:#1B95E0">@(Model.Price.ToString("#,0.###", ci)) VNĐ</h6>
                                <div class="chr single-item single_page_b">
                                    <form action="#" method="post">
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="chr_item" value="@Model.Name">
                                        <input type="hidden" name="amount" value="@Model.Price">
                                        <a href="" class="chr-cart" onclick="updateCart('add',@Model.ID, event)">
                                            <p hidden>@Model.ID</p>
                                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                            Thêm vào giỏ
                                        </a>
                                        <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                                    </form>
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(Model.Description))
                            {
                                <div class="desc_single">
                                    <h5>Mô tả</h5>
                                    <p class="desc">@Model.Description</p>
                                </div>
                            }
                            <div class="occasional">
                                <h5>Chi tiết sản phẩm</h5>
                                <ul class="single_specific">
                                    <li>
                                        <span>Tình trạng tồn kho :</span> @HtmlExtensions.CheckStockState(Model.InStock)
                                    </li>
                                    <li>
                                        <span>Trạng thái sản phẩm :</span> Mới
                                    </li>
                                    <li>
                                        <span>@pub :</span> @Model.Publisher.Name
                                        <div>
                                            <p style="padding-left:15px;color:#555;text-transform:unset">
                                                @if (!string.IsNullOrEmpty(Model.Publisher.Code))
                                                {
                                                    <text>Trang web: </text><a href="//@Model.Publisher.Code" target="_blank" rel="external">@Model.Publisher.Code</a><br />
                                                }
                                                @if (!string.IsNullOrEmpty(Model.Publisher.Email))
                                                {
                                                    <text>Email: </text><a href="mailto:@Model.Publisher.Email">@Model.Publisher.Email</a><br />
                                                }
                                            </p>
                                            @if (!string.IsNullOrEmpty(Model.Publisher.Description))
                                            {
                                                <p style="padding-left:15px;color:#555;text-transform:unset">@Model.Publisher.Description</p>
                                            }

                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
